<!DOCTYPE html>
<html>
  <head>
    <title>Yasmin Jones Sheahan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;800&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
    <%= render "shared/footer" %>
<!--     <script src="portfolio.js"></script>
 -->  </body>
</html>
